* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a; 
  font-family: Arial, sans-serif;
}
.div {
  background: #232d56;
  padding: 30px 40px;
  /* border-radius: 12px; */
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  border: 1px solid white;
}
h1 {
  color: #38bdf8;
  margin-bottom: 15px;
}
h2 {
  color: #f8fafc;
  font-size: 3rem;
  margin-bottom: 20px;
}
button {
  background: #38bdf8;
  color: #020617;
  border: none;
  padding: 10px 18px;
  margin: 0 8px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  background: #0ea5e9;
  transform: scale(1.05);
}
p{
  padding: 15px;
  padding-top: 0;
}
